---
import PolicyLayout from "../components/ui/PolicyLayout.astro";
---

<PolicyLayout title="Política de Entrega">
    <h2>1 - Prazo de entrega</h2>
    <p>A Lado Cristao realiza as entregas em todo o Brasil, dependendo do CEP de destino. As opções de frete são: Econômica, Normal e Expressa e você poderá escolher qual a melhor condição de envio considerando que haverá diferença de valores e prazo entre as opções. O valor do frete é calculado proporcionalmente a cada item escolhido e você poderá estar visualizando o valor total antes de finalizar o seu pedido.</p>

    <h2>2 - Condições de entrega</h2>
    <p>Nossas entregas são feitas de segunda à sexta-feira, das 8h às 18h, exceto em dias de feriados locais e nacionais. O prazo de entrega começa a contar a partir do despacho da mercadoria e o link de rastreio é enviado em seu e-mail cadastrado no seu pedido.</p>

    <p><strong>Condições importantes:</strong></p>
    <ul>
        <li>Pedidos realizados aos sábados, domingos e feriados serão expedidos a partir do dia útil seguinte.</li>
        <li>É responsabilidade do cliente colocar o endereço de entrega no qual a transportadora consiga estar entregando, por isso é essencial colocar pontos de referência e contatos telefônicos válidos para facilitar a entrega.</li>
        <li>A entrega poderá ser feita para terceiros, ou seja, familiares, vizinhos e porteiro ou mediante a sua autorização.</li>
        <li>Atente-se ao receber a mercadoria, verifique a embalagem se está intacta, confira nas etiquetas da embalagem se os dados do endereço e nome do destinatário estão corretos. Fotografe as etiquetas das embalagens e caso não esteja de acordo deverá recusar a mercadoria e avisar a Lado Cristao imediatamente em nosso canal de atendimento enviando as fotos e relatando o ocorrido.</li>
    </ul>

    <h3>Endereço de Entrega</h3>
    <p>O fornecimento dos dados cadastrais, incluindo endereço, é de responsabilidade do comprador no momento da compra no site. A empresa não tem nenhuma gerência sobre os dados lá informados. O pedido é enviado ao endereço informado pela consumidora diretamente no pedido realizado. Em caso de entrega no endereço fornecido no momento da compra, é considerado concluído. Caso queira o ressarcimento da compra, a busca pelo pacote no endereço cadastrado no pedido deve ser efetuada e realizado a devolução na logística que a loja irá fornecer.</p>

    <h3>Cliente Ausente</h3>
    <p>As transportadoras realizam 3 tentativas de entrega no endereço cadastrado, caso ocorra como ausente nas 3 tentativas a mercadoria retornará para a nossa fábrica e será cobrado um novo frete para reenvio. Ao notificar essa informação no rastreio do seu pedido você pode comunicar a loja imediato para que a equipe de suporte possa lhe orientar e resolver a situação.</p>

    <h3>Endereço Não Localizado</h3>
    <p>Primeiro passo você deve entrar em contato com a Lado Cristao imediatamente, informando pontos de referência, características da residência, telefones válidos e se possível o link da localização. Após o envio das informações para a transportadora, poderá levar até 3 dias úteis para uma nova tentativa. Caso ainda não localizem o seu endereço, você tem a opção de enviar um endereço alternativo e deverá ser na mesma cidade.</p>

    <h2>3 - Devolução</h2>
    <p>Em caso de devolução da mercadoria, pode-se solicitar o ressarcimento do valor do pedido ou o reenvio do pedido entrando em contato conosco. Ressalta-se que em casos de solicitação de ressarcimento do valor do pedido, será necessário aguardar a confirmação de devolução pela transportadora para a nossa empresa, assim que realizado a confirmação de devolução, o valor será repassado ao setor financeiro e dentro do prazo de 5 dias úteis será realizado. E em caso de reenvio é analisado a situação e cobrado um novo frete de envio.</p>

    <p><strong>Atenção!</strong> Qualquer atualização indevida no rastreio do seu pedido, não hesite em comunicar a nossa central de atendimento pelo e-mail <a href="mailto:contato@ladocristao.com.br">contato@ladocristao.com.br</a>.</p>

    <p>A Lado Cristao se responsabiliza pelos produtos enviados durante o trajeto até a mercadoria ser entregue, ressaltamos que de fato é responsabilidade do cliente acompanhar o rastreio do pedido e comunicar a loja imediatamente caso a mercadoria seja entregue indevidamente.</p>
</PolicyLayout>
