---
import PolicyLayout from "../components/ui/PolicyLayout.astro";
---

<PolicyLayout title="Política de Privacidade">
    <p>Nós da Lado Cristao reconhecemos a importância da privacidade de nossos visitantes e clientes. Abaixo esclarecemos o uso e armazenamento de suas informações quando visita, se cadastra, ou compra na ladocristao.com.br.</p>

    <h2>Segurança</h2>
    <p>Todas as transações que envolvem seus dados em nosso site são protegidas através de criptografia em nossos servidores o que não permite que outras pessoas tenham acesso aos seus dados pessoais. Seus dados enviados até nossos servidores trafegam em uma criptografia SSL 256 bits.</p>

    <h2>Confidencialidade</h2>
    <p>Garantimos que seus dados pessoais não serão trocados, ou vendidos para parceiros ou quaisquer outras empresas que não sejam da Lado Cristao sem sua prévia autorização. Para que seus dados não sejam descobertos por terceiros recomendamos que não divulgue sua senha a terceiros, mesmo a amigos e parentes.</p>

    <h2>Coleta e Utilização dos Seus Dados</h2>
    <p>Seus dados são coletados no momento da compra em nosso site ou quando você se cadastra. Seus dados pessoais são utilizados para entrega dos pedidos, comunicação e melhora do nosso relacionamento com você cliente e visitante. A Lado Cristao mantém suas informações em sigilo absoluto.</p>

    <h2>Informativos via E-mail — Newsletters</h2>
    <p>Os informativos enviados pela Lado Cristao são enviados apenas aos visitantes e clientes que optaram por se cadastrar. Condenamos o envio indevido de e-mails denominado SPAM e condenamos sua prática. Caso você cliente e visitante tenha optado por receber informativos, as aberturas e cliques são informados à Lado Cristao automaticamente através do nosso sistema. Os dados obtidos são utilizados apenas como indicadores estatísticos dos resultados. O assinante poderá cancelar sua inscrição a qualquer momento através do nosso site ou clicando no link presente em todos os envios.</p>

    <p>Caso tenha alguma dúvida a respeito de nossa política de privacidade, entre em contato conosco pelo endereço: <a href="mailto:contato@ladocristao.com.br">contato@ladocristao.com.br</a></p>
</PolicyLayout>
