---
import PolicyLayout from "../components/ui/PolicyLayout.astro";
---

<PolicyLayout title="Termos de Uso e LGPD">
    <p>Lado Cristao, pessoa jurídica de direito privado leva a sua privacidade a sério e zela pela segurança e proteção de dados de todos os seus clientes, parceiros, fornecedores e usuários do site domínio www.ladocristao.com.br e qualquer outro site, loja ou aplicativo operado pelo lojista.</p>

    <p>Esta Política de Privacidade destina-se a informá-lo sobre o modo como nós utilizamos e divulgamos informações coletadas em suas visitas à nossa loja e em mensagens que trocamos com você.</p>

    <p>Esta Política de Privacidade aplica-se somente a informações coletadas por meio da loja.</p>

    <p>Ao acessar o site da loja (www.ladocristao.com.br) você consente e declara estar ciente com relação aos termos aqui previstos e de acordo com a política de privacidade, a qual descreve as finalidades e formas de tratamento de seus dados pessoais que você disponibilizar na loja.</p>

    <p>Esta Política de Privacidade fornece uma visão geral de nossas práticas de privacidade e das escolhas que você pode fazer, bem como direitos que você pode exercer em relação aos Dados Pessoais tratados por nós. Se você tiver alguma dúvida sobre o uso de Dados Pessoais, entre em contato pelo e-mail <a href="mailto:contato@ladocristao.com.br">contato@ladocristao.com.br</a>.</p>

    <h2>Seção 1 - Definições</h2>
    <p><strong>"Dados Pessoais":</strong> significa qualquer informação que, direta ou indiretamente, identifique ou possa identificar uma pessoa natural, como por exemplo, nome, CPF, data de nascimento, endereço IP, dentre outros.</p>
    <p><strong>"Dados Pessoais Sensíveis":</strong> significa qualquer informação que revele, em relação a uma pessoa natural, origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico.</p>
    <p><strong>"Tratamento de Dados Pessoais":</strong> significa qualquer operação efetuada no âmbito dos Dados Pessoais, por meio de meios automáticos ou não, tal como a recolha, gravação, organização, estruturação, armazenamento, adaptação ou alteração, recuperação, consulta, utilização, divulgação por transmissão, disseminação ou, alternativamente, disponibilização, harmonização ou associação, restrição, eliminação ou destruição.</p>
    <p><strong>"Leis de Proteção de Dados":</strong> significa todas as disposições legais que regulam o Tratamento de Dados Pessoais, incluindo, porém sem se limitar, a Lei nº 13.709/18, Lei Geral de Proteção de Dados Pessoais ("LGPD").</p>

    <h2>Seção 2 - Uso de Dados Pessoais</h2>
    <p>Coletamos e usamos Dados Pessoais para gerenciar seu relacionamento conosco e melhor atendê-lo quando você estiver adquirindo produtos e/ou serviços na loja, personalizando e melhorando sua experiência. Exemplos de como usamos os dados incluem:</p>
    <ul>
        <li>Viabilizar que você adquira produtos e/ou serviços na loja;</li>
        <li>Para confirmar ou corrigir as informações que temos sobre você;</li>
        <li>Para enviar informações que acreditamos ser do seu interesse;</li>
        <li>Para personalizar sua experiência de uso da loja;</li>
        <li>Para entrarmos em contato por um número de telefone e/ou endereço de e-mail fornecido.</li>
    </ul>

    <h2>Seção 3 - Não fornecimento de Dados Pessoais</h2>
    <p>Não há obrigatoriedade em compartilhar os Dados Pessoais que solicitamos. No entanto, se você optar por não os compartilhar, em alguns casos, não poderemos fornecer a você acesso completo à loja, alguns recursos especializados ou ser capaz de prestar a assistência necessária ou, ainda, viabilizar a entrega do produto ou prestar o serviço contratado por você.</p>

    <h2>Seção 4 - Dados coletados</h2>
    <p>O público em geral poderá navegar na loja sem necessidade de qualquer cadastro e envio de Dados Pessoais. No entanto, algumas das funcionalidades da loja poderão depender de cadastro e envio de Dados Pessoais como concluir a compra e/ou a viabilizar a entrega do produto por nós.</p>
    <p>No contato à loja, nós podemos coletar:</p>
    <ul>
        <li><strong>Dados de contato:</strong> nome, sobrenome, número de telefone, endereço, cidade, estado e endereço de e-mail;</li>
        <li><strong>Informações enviadas:</strong> informações que você envia via formulário (dúvidas, reclamações, sugestões, críticas, elogios etc.).</li>
    </ul>
    <p>Nós não coletamos Dados Pessoais Sensíveis.</p>

    <h2>Seção 5 - Compartilhamento de Dados Pessoais com terceiros</h2>
    <p>Nós poderemos compartilhar seus Dados Pessoais com a(s) empresa(s) parceira(s) que você selecionar ou optar em enviar os seus dados, bem como com provedores de serviços ou parceiros para gerenciar ou suportar certos aspectos de nossas operações comerciais em nosso nome. Esses provedores de serviços ou parceiros podem estar localizados no Brasil ou em outros locais globais, incluindo servidores para hospedagem e armazenamento de dados, gerenciamento de fraudes, suporte ao cliente, atividades de publicidade e marketing e serviços de TI.</p>

    <h2>Seção 6 - Transferências internacionais de dados</h2>
    <p>Dados Pessoais e informações de outras naturezas coletadas por nós podem ser transferidos ou acessados por entidades pertencentes ao grupo corporativo das empresas parceiras em todo o mundo de acordo com esta Política de Privacidade.</p>

    <h2>Seção 7 - Coleta automática de Dados Pessoais</h2>
    <p>Quando você visita a loja, ela pode armazenar ou recuperar informações em seu navegador, principalmente na forma de cookies, que são arquivos de texto contendo pequenas quantidades de informação. Essas informações podem ser sobre você, suas preferências ou seu dispositivo e são usadas principalmente para que a loja funcione como você espera.</p>

    <h2>Seção 8 - Categorias de cookies</h2>
    <p>Os cookies utilizados na nossa loja estão de acordo com os requisitos legais e são enquadrados nas seguintes categorias:</p>
    <ul>
        <li><strong>Estritamente necessários:</strong> permitem navegação pelo site e uso de recursos essenciais com segurança.</li>
        <li><strong>Desempenho:</strong> coletam informações de forma codificada e anônima relacionadas à loja virtual.</li>
        <li><strong>Funcionalidade:</strong> utilizados para lembrar definições de preferências do usuário.</li>
        <li><strong>Publicidade:</strong> utilizamos cookies para criar campanhas segmentadas e entregar anúncios de acordo com seu perfil.</li>
    </ul>

    <h2>Seção 9 - Direitos do usuário</h2>
    <p>Você pode, a qualquer momento, requerer: (i) confirmação de que seus Dados Pessoais estão sendo tratados; (ii) acesso aos seus Dados Pessoais; (iii) correções a dados incompletos, inexatos ou desatualizados; (iv) anonimização, bloqueio ou eliminação de dados desnecessários; (v) portabilidade de Dados Pessoais a outro prestador de serviços; (vi) eliminação de Dados Pessoais tratados com seu consentimento; (vii) informações sobre as entidades às quais seus Dados Pessoais tenham sido compartilhados; (viii) informações sobre a possibilidade de não fornecer o consentimento e sobre as consequências da negativa; e (ix) revogação do consentimento.</p>

    <h2>Seção 10 - Segurança dos Dados Pessoais</h2>
    <p>Buscamos adotar as medidas técnicas e organizacionais previstas pelas Leis de Proteção de Dados adequadas para proteção dos Dados Pessoais na nossa organização. Infelizmente, nenhuma transmissão ou sistema de armazenamento de dados tem a garantia de serem 100% seguros. Caso tenha motivos para acreditar que sua interação conosco tenha deixado de ser segura, favor nos notificar imediatamente.</p>

    <h2>Seção 11 - Links de hipertexto para outros sites</h2>
    <p>A Loja poderá conter links de hipertexto que redirecionará você para sites das redes dos nossos parceiros, anunciantes, fornecedores etc. Se você clicar em um desses links, lembre-se que cada site possui as suas próprias práticas de privacidade e que não somos responsáveis por essas políticas.</p>

    <h2>Seção 12 - Atualizações desta Política</h2>
    <p>Se modificarmos nossa Política de Privacidade, publicaremos o novo texto na loja, com a data de revisão atualizada. Podemos alterar esta Política de Privacidade a qualquer momento. Sua utilização da loja após as alterações significa que aceitou as Políticas de Privacidade revisadas.</p>

    <h2>Seção 13 - Encarregado do tratamento dos Dados Pessoais</h2>
    <p>Caso pretenda exercer qualquer um dos direitos previstos nesta Política de Privacidade e/ou nas Leis de Proteção de Dados, ou resolver quaisquer dúvidas relacionadas ao Tratamento de seus Dados Pessoais, favor contatar-nos através do e-mail <a href="mailto:contato@ladocristao.com.br">contato@ladocristao.com.br</a>.</p>
</PolicyLayout>
