---
import Navbar from '../components/navbar/NavBar.astro';
import Footer from '../components/footer/Footer.astro';
import "../styles/global.css";
const title = Astro.props.title;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="font-sans">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>